# Sass
.sass-cache

# Grav Specific
data/*
!data/.*
plugins/*
!plugins/.*
accounts/*
!accounts/.*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*~

# phpstorm
.idea/*

.docker-grav-data/
